
  
    .grid {
      position: relative;
      background-image: url('pallet.webp'); 
      background-size: 100% 100%;
      border: 2px solid black;
      margin-top: 20px;
      box-sizing: content-box;
    }
  
  .box {
    position: absolute;
    box-sizing: border-box;
    background-color: #C2A661; /* Light brown color to mimic cardboard */
    border: 2px solid #916A2D;
    /* box-shadow: 3px 3px 5px rgba(0,0,0,0.3); Soft shadow for 3D effect */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    cursor: move;
  }
  
  .remove-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 2px 5px;
    margin-left: 5px;
    cursor: pointer;
  }